#kaocha/v1
{:randomize? true
 :plugins [:hello-test/randomize-exclude]
 :reporter kaocha.report/documentation
 :tests [{:id :hello
          :dont-randomize? true
          :kaocha/ns-patterns ["hello-test$"]
          :test-paths ["test"]}
         {:id :other
          :kaocha/ns-patterns ["other-test$"]
          :test-paths ["test"]}]}
